html>
  <head>
    <title>Créer un potin</title>
 <html>
  <head>
   
  </head>
  <body>
    <h1>Editer Potin</h1>
    
    <form action='/gossips/id/edit' method='POST'>
      votre nouvea nom :  <input type='text' name='gossip_author'/><br/>
      votre noouveau potin  : <input type='text' name='gossip_content'/><br/>
      <input type='submit' "terminer"/>
    </form>
  </body>
</html>