<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1> Bienvenue <%=g.author%> !</h1>
    <h2>Son auteur : ==<%=g.author%>== </h2>
    <h2>Le contenu du potin : ==<%=g.content%>== </h2>
     <a href="/gossips/id/edit">Editer la potin</a>
     <a href = "/">Lien pour revenir à la page des potins </a>
 

  </body>
</html>
